// Bundled icons are sourced from Lucide (https://lucide.dev) and distributed under the ISC License.
#[allow(dead_code)]
#[derive(Debug, Clone, Copy, PartialEq, Eq)]
pub enum IconName {}

impl IconSource for IconName {
    fn svg_bytes(self) -> &'static [u8] {
        match self {}
    }

    fn provider_slug(self) -> &'static str {
        match self {}
    }
}
